* {
    margin: 0 auto;
}

h1 {
    margin: 24px 0;
}

section {
    display: flex;
}

section .weather {
    border: 1px solid #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
}

.weather span {
    font-weight: bold;
}